body{
  background-image: url('https://img.lovepik.com/photo/50032/5642.jpg_wh860.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.tb
{
      height: 500px;
      width: 100%;

    
}
.lb {
  position: fixed;
  top: 10%;
  left: 0%;
  
  
}
.sb {
  position: fixed;
  top: 0%;
  left: 0%;

  
}
.tl 
{
  position: fixed;
  top: 0%;
  left: 0%;
  
  
}
.ll{ 
  position: fixed;
  top: 10%;
  left: 49%;
  text-decoration: wavy;
  font-size: 24px;
  

}
.tt
{
      height: 10cm;
      width:10cm;
      left: 40%;
      top: 30%;
      position: relative;
      background-color:whitesmoke;
      box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-image: url('');
}

.id{
  position: fixed;
  right: 30px;
  bottom: 40px;
}