body{
  background-image: url('https://media.istockphoto.com/id/999970232/photo/blood-cells.jpg?s=612x612&w=0&k=20&c=QXWprSkhYgArRyluuUlZDzhJk6rTC374qofCE_KfLiU=');
  background-size: cover;
  background-repeat: no-repeat;
}
.tb
{
      height: 500px;
      width: 100%;

    
}
.lb {
  position: fixed;
  top: 10%;
  left: 0%;
  
  
}
.sb {
  position: fixed;
  top: 0%;
  left: 0%;

  
}
.tl 
{
  position: fixed;
  top: 0%;
  left: 0%;
  
  
}
.ll{ 
  position: fixed;
  top: 10%;
  left: 49%;
  text-decoration: wavy;

}
.tt
{
      height: 10cm;
      width:10cm;
      left: 40%;
      top: 30%;
      position: relative;
      background-color:whitesmoke;
      box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-image: url('https://media.istockphoto.com/id/1165545579/photo/cells.jpg?s=612x612&w=0&k=20&c=yGYgY2JVhe4aJTiNtYK0ogrpcKvygy2Zen3oMt1ZwfY=');
}

.id{
  position: fixed;
  right: 30px;
  bottom: 40px;
}